/* Code tidied up by ScrapBook */
.emodal, .emodal::before, .emodal::after { box-sizing: border-box; }
.emodal-overlay { position: fixed; display: none; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 998 ! important; }
.emodal { top: 100px; visibility: hidden; position: absolute; display: none; z-index: 999 ! important; }
.emodal > .emodal-close { text-decoration: none; text-align: center; line-height: 1; position: absolute; font-weight: bold; cursor: pointer; min-width: 1em; }
@media only screen and (min-width: 768px) {
}
.emodal .emodal-content :last-child { margin-bottom: 0px; }
.wpcf7 .screen-reader-response { position: absolute; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); height: 1px; width: 1px; margin: 0px; padding: 0px; border: 0px none; }
.wpcf7 form .wpcf7-response-output { margin: 2em 0.5em 1em; padding: 0.2em 1em; border: 2px solid rgb(0, 160, 210); }
.wpcf7 form.init .wpcf7-response-output, .wpcf7 form.resetting .wpcf7-response-output, .wpcf7 form.submitting .wpcf7-response-output { display: none; }
.wpcf7-form-control-wrap { position: relative; }
.wpcf7-list-item { display: inline-block; margin: 0px 0px 0px 1em; }
.wpcf7 .ajax-loader { visibility: hidden; display: inline-block; background-color: rgb(35, 40, 45); opacity: 0.75; width: 24px; height: 24px; border: medium none; border-radius: 100%; padding: 0px; margin: 0px 24px; position: relative; }
.wpcf7 .ajax-loader::before { content: ""; position: absolute; background-color: rgb(251, 251, 252); top: 4px; left: 4px; width: 6px; height: 6px; border: medium none; border-radius: 100%; transform-origin: 8px 8px 0px; animation-name: spin; animation-duration: 1000ms; animation-timing-function: linear; animation-iteration-count: infinite; }
@media not all {
  .wpcf7 .ajax-loader::before { animation-name: blink; animation-duration: 2000ms; }
}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes blink {
0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}
.wpcf7 .wpcf7-submit:disabled { cursor: not-allowed; }
.wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"] { direction: ltr; }
